<h3><a class="btn btn-secondary" href="/contact"><i class="fa fa-plus"></i> Create New</a> Contact List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            {{#each list}}
            <td>{{this.fullName}}</td>
            <td>{{this.mobile}}</td>
            <td>
                <a href="/contact/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/contact/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this contact ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>